body {
	background-color: #c4f6ff;

}
.header {
	background-color: black;
	color: #c4f6ff;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 125%;
	margin-left: -10%;
	padding-left: 5%;

}

h1 {
	font-size: 96px;
	font-weight: bold;
	float: left;
}

.x {
	float: left;
}

.addBtn {
	background-color: black;
	color: #c4f6ff;
	margin-bottom: 5%;
}
.addIt {
	background-color: black;
	color: #c4f6ff;
	margin-left: 6%;
}
.black {
	background-color: #c4f6ff;
	color: black;

}

.glyphicon-remove {
	color: red;
}

.removeBtn, .editBtn {
	background-color: black;
	color: #c4f6ff;
}

.tableRow {
	margin-top: 5%;
}

.formRow {
	margin-bottom: 5%;
}

div.menuBtns {
	margin-left: 70%;
	margin-bottom: 2%;
}

.profilePic {
	max-width: 150px;
}

h2 {
	padding-left: 5%;
}

h5 {
	padding-left: 5%;
	font-size: 18px;
	margin-top: 2%;
}

h6 {
	padding-left: 5%;
	margin-top: 2%;
}
	