body {
	background-color: #c4f6ff;

}

.splash-img {
	width: 102%;
	margin-left: -1%;
	margin-right: -1%;
}

.header {
	background-color: #00c7ff;
	color: #c4f6ff;
	padding-top: 10px;
	padding-bottom: 8px;
	width: 102%;
	margin-bottom: 2%;

}

h1 {
	margin-left: 5%;
	font-size: 96px;
	font-weight: bold;
	float: left;
}

.x {
	float: left;
}

/*.profileInfo {
	margin-top: 15%;
}*/

.addBtn {
	background-color: black;
	color: #c4f6ff;
	margin-bottom: 5%;
}
.addIt {
	background-color: #00c7ff;
	color: #c4f6ff;
	margin-bottom: 3%;
}

.cancelIt {
	background-color: #00c7ff;
	color: #c4f6ff;
	margin-bottom: 3%;
}

.black {
	background-color: #c4f6ff;
	color: #00c7ff;

}

.red {
	color: #04829b;

}

.glyphicon-remove {
	color: red;
}

.removeBtn, .editBtn {
	background-color: #00c7ff;
	color: #c4f6ff;
}

.tableRow {
	margin-top: 2%;
}

.formRow {
	margin-bottom: 5%;
}

div.menuBtns {
	margin-left: 70%;
	margin-bottom: 2%;
}

thead {
	background-color: #00c7ff;
	color: #c4f6ff;
}

h2 {
	padding-left: 5%;
}

.iconRow {
	margin-top: 5%;
}

.clipboard {
	display: block;
	margin-right: auto;
	margin-left: 35%;

}

.description {
	margin-top: 3%;
	color: #04829b;
	font-size: 16px;
}

h5 {
	color: #04829b;
	padding-left: 5%;
	font-size: 18px;
	margin-top: 3%;
	margin-left: 4%;
}

h6 {
	padding-left: 6%;
	margin-top: 2%;
}

.profilePic {
	max-width: 150px;
	margin-left: 6%;
	
	margin-top: 2%;
	box-shadow: 2px 2px 1px gray;
}

.addTaskBtn {
	margin-left: 10%;
	background-color: #00c7ff;
	color: #c4f6ff;
}
td {
	color: #04829b;
}

.profileInfo {
	margin-top: -5px;
}

.blue {
	color: #04829b;
	font-weight: bold;
	font-size: 14px;
}

.searchBox {
	margin-top: 5%;
	margin-left: -8%;

}